beautifulsoup4==4.12.3
faiss-cpu==1.9.0.post1
Flask==3.1.0
langchain==0.3.17
langchain-community==0.3.16
langchain-core==0.3.33
langchain-openai==0.3.3
langchain-text-splitters==0.3.5
openai==1.60.2
python-dotenv==1.0.1